{% extends 'layout.html' %}
{% block heading %}The name of the People{% endblock %}
{% block content %}
  <div id="main">

    <header>
	  <div id="strapline">
	    <div id="welcome_slogan">
	      <h3 class="introduction3"><span>Welcome</span> to The World of <span>Bills</span></h3>
	    </div><!--close welcome_slogan-->
      </div><!--close strapline-->
	  <nav>
	    <div id="menubar">
          <ul id="nav">
              <li><a href="/">Home</a></li>
              <li class="current"><a href="{{url_for('politician')}}">People</a></li>
              <li><a href="{{url_for('bill')}}">Bills</a></li>
              <li><a href="{{url_for('sponsor')}}">Overview</a></li>
              <li><a href="{{url_for('contact')}}">Contact Us</a></li>          
          </ul>
        </div><!--close menubar-->
      </nav>
    </header>

    <div id="slideshow_container">
	  <div class="slideshow">
	    <ul class="slideshow">
          <li class="show"><img width="940" height="250" src="/static/images/home_1.jpg"/></li>
          <li><img width="940" height="250" src="/static/images/home_2.jpg"  /></li>
	  <li><img width="940" height="250" src="/static/images/home_3.jpeg"  /></li>
        </ul>
	  </div><!--close slideshow-->
	</div><!--close slideshow_container-->

	<div id="site_content">

	  <div class="sidebar_container">
		<div class="sidebar">
          <div class="sidebar_item">
            <h2>House and Senator</h2>
            <p>Current Congress is made up of 238 Republicans in the House and 52 Repulican senators. </p>
          </div><!--close sidebar_item-->
        </div><!--close sidebar-->
		<div class="sidebar">
          <div class="sidebar_item">
            <h1>Latest Update</h1>
            <h2>April 2017</h2>
            <a  href="http://blog.scoutingmagazine.org/2017/04/25/more-than-a-quarter-of-congress-has-some-connection-to-bsa/">Congress Connection to BSA</a>
<br>
<br>
 <a  href="https://www.washingtonpost.com/graphics/politics/endangered-seats/?utm_term=.d387d44e50d2">Endangered Seats</a>
		  </div><!--close sidebar_item-->
        </div><!--close sidebar-->
		<div class="sidebar">
          <div class="sidebar_item">
            <h2>Related Links</h2>
            
 <a  href="http://democrats.rules.house.gov/legislation/bills/115th">Democrat Legislation</a>
<br>
<br>
 <a  href="http://democrats.rules.house.gov/legislation/bills/115th">Bills By Congress</a>
<br>
<br>
 <a  href="https://www.senate.gov/legislative/active_leg_page.htm">Senate Legislation</a>
<br>
<br>
 <a  href="https://legiscan.com/US">Legiscan</a>

		  </div><!--close sidebar_item-->
        </div><!--close sidebar-->
        <div class="sidebar">
          <div class="sidebar_item">
            <h2>Contact</h2>
            <p>Phone: (919)813-8696</p>
            <p>Email: <a href="mailto:zhiyong.zhao@duke.edu">zhiyong.zhao@duke.edu</a></p>
          </div><!--close sidebar_item-->
        </div><!--close sidebar-->
       </div><!--close sidebar_container-->
<br>
<br>
             

	  <div id="content">
        <div class="content_item">

<h1 id ="welcomeMember">Member Analysis</h1>

<p class ="introduction"> The US congress is composed of the Senate and the House of Representatives.
Congress has 535 voting members: 435 Representatives and 100 Senators.
Besides, the House has six non-voting members representing Washington D.C., Puerto Rico, American Samoa, Guam, the Northern Mariana Islands, and the U.S. Virgin Islands.
The congressmen are mainly affiliated to the Republican Party or to the Democratic Party, and rarely to a third party or as independents.
Committees are formed to focus on the particular sectors of legislation.</p>
         

		    <div class="content_container">
                            <h1> Search for member of congress</h1>
		         <form action ="{{url_for('signup') }}" method = "post">
                             Name: 
                             <br>
                             <br>
                             <input type = "text" name = "name" placeholder="The name..">
                             <br>
                             <br>
                             Gender:
			     <br> 
			     <br>
			     <input type = "text" name = "gender" placeholder="The gender..">
                             <br>
                             <br>
                             <input type="submit"></input>
                          </form>

                          <br>
                          <br>

                          {% block ncontent %} {% endblock %}

		      </div><!--close button_small-->
		    </div><!--close content_container-->
                 <div class="content_container">


			<h1 title = "Member Analysis"> Member Analysis: </h1>

   			    <form action = "{{url_for('search_people')}}" method = "post">
				<select name="Search People">
					  <option value="0">Please select one to search</option>
					  <option value="1">Chair of Some Committee</option>
 					  <option value="2">Votes Least Number Of Times</option>
 					  <option value="3">Votes 'Yes' for Bills Introduced by Another  Party </option>
					  <option value="4">Sponsored most Bills</option>
				  </select>
<br>
<br>
<br>
<br>
<br>
			        <input type="submit"></button>	
                             </form>
         <br>
	         {% block nncontent %} {% endblock %}	


		        </div><!--close button_small-->
		    </div><!--close content_container-->
		</div><!--close content_item-->
      </div><!--close content-->
	</div><!--close site_content-->


    <footer>
	  <a href="/">Home</a> | <a href="{{url_for('politician')}}">People</a> | <a href="{{url_for('bill')}}">Bills</a> | <a href="{{url_for('sponsor')}}">Overview</a> | <a href="{{url_for('contact')}}">Contact</a>
          <br>
          &copy Zhiyong Zhao,  Elaine M'NKubitu, Chao Yang, Akanksh Chaudhary
    </footer>

  </div><!--close main-->

  <!-- javascript at the bottom for fast page loading -->
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/image_slide.js"></script>
  <script type="text/javascript" src="/static/js/modernizr-1.5.min.js"></script>

{% endblock %}
